<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_admin">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content_admin" class="container body-content">
    <div>
        <label for="section" class="title-input">Bộ phận</label> <select class="custom-select" name="section" id="section">
        <th:block th:each="item:${listSection}">
            <option th:attr="value=${item.sectionId}" th:utext="${item.sectionName}"></option>
        </th:block>
    </select>
    </div>
    <div class="col-md-2">
        <label for="section" class="title-input">Bộ phận</label>
        <select class="custom-select" name="section" id="section">
            <th:block th:each="item:${listSection}">
                <option th:attr="value=${item.sectionId}" th:utext="${item.sectionName}"></option>
            </th:block>
        </select>
    </div>
    <br>
    <div class="row">
        <div class="col-md-6" style="float: left;">
            <button type="button" class="btn btn-success aBtn">
                <i class="fas fa-hotel"></i> Thêm nhân viên
            </button>
        </div>
        <form class="col-md-6" th:action="@{/employee(page=0)}" method="get">
            <div class="form-group" style="width: 75%; float: right;">
                <input type="search" class="form-control" id="search-box"
                       aria-describedby="search-box" placeholder="Search..."
                       name="search-text" th:attr="value=${searchText}">
            </div>
        </form>
        <table class="table table-hover table-bordered">
            <thead class="thead-light">
            <tr>
                <th style="text-align: center">Stt</th>
                <th style="text-align: center; display: none">ID</th>
                <th style="text-align: center">Mã nhân viên</th>
                <th style="text-align: center">Họ và tên</th>
                <th style="text-align: center">Ngày sinh</th>
                <th style="text-align: center">Giới tính</th>
                <th style="text-align: center">Địa chỉ</th>
                <th style="text-align: center">Email</th>
                <th style="text-align: center">Số điện thoại</th>
                <th style="text-align: center">Lương</th>
                <th style="...">Quản lý</th>
                <th style="text-align: center">Sửa</th>
            </tr>
            </thead>

            <tbody>
            <th:block th:each="employee,item:${employees}">
                <tr>
                    <td style="text-align: center; font-weight: bold;" th:utext="${item.count}"></td>
                    <td style="display: none;"></td>
                    <td th:utext="${employee.employeeNumber}" style="text-align: center"></td>
                    <td th:utext="${employee.employeeName}" style="text-align: center"></td>
                    <td th:utext="${employee.birth}" style="text-align: center"></td>
                    <td th:utext="${employee.gender}" style="text-align: center"></td>
                    <td th:utext="${employee.address}" style="text-align: center"></td>
                    <td th:utext="${employee.email}" style="text-align: center"></td>
                    <td th:utext="${employee.phoneNumber}" style="text-align: center"></td>
                    <td th:utext="${employee.salary}" style="text-align: center"></td>
                    <td th:utext="${employee.managerNumber}" style="text-align: center"></td>
                    <td style="text-align: center"><a
                            class="btn btn-primary text-white eBtn"
                            th:href="@{/find-employee(id=${employee.employeeId})}"><i
                            class="fas fa-pencil-alt"></i></a></td>
                </tr>
            </th:block>
            </tbody>
        </table>
        <div class="col-md-6" style="float: left; margin-top: 26px; font-size: 17px">
            <p>
                Tổng số nhân viên : <span th:utext="${totalElement}"
                                          style="color: red; font-weight: bold;"></span>
            </p>
        </div>
        <nav class="col-md-6" aria-label="..." style="margin-top: 20px;">
            <ul class="pagination" style="float: right;">
                <li
                        th:class="${currentIndex == 1}? 'page-item disabled' : 'page-item'">
                    <a class="page-link" th:href="@{/employee}">First</a>
                </li>
                <li
                        th:class="${currentIndex == 1}? 'page-item disabled': 'page-item' ">
                    <a class="page-link" aria-label="Previous"
                       th:href="@{|${baseUrl}${currentIndex-2}${searchUrl}|}"
                       title='Go to previous page'><span aria-hidden="true">«</span>
                        <span class="sr-only">Previous</span></a>
                </li>
                <li th:each="item : ${#numbers.sequence(beginIndex,endIndex)}"
                    th:class="${item == currentIndex ? 'page-item active' :'page-item' }">
                    <a class="page-link"
                       th:href="@{|${baseUrl}${item-1}${searchUrl}|}"> <span
                            th:text='${item}'>1</span>
                    </a>
                </li>
                <li class="page-item disabled" th:if="${extra}"><a
                        class="page-link" href=""> <span>...</span>
                </a></li>
                <li th:if="${checkLast}" class="page-item"><a
                        class="page-link" th:href="@{|${baseUrl}${totalPageCount-1}|}">
                    <span th:text='${totalPageCount}'>6</span>
                </a></li>
                <li
                        th:class="${currentIndex == totalPageCount || totalPageCount == 0}? 'page-item disabled': 'page-item'">
                    <a class="page-link" aria-label="Next" title='Go to next page'
                       th:href="@{|${baseUrl}${currentIndex}${searchUrl}|}"><span
                            aria-hidden="true">»</span> <span class="sr-only">Next</span></a>
                </li>
                <li
                        th:class="${currentIndex == totalPageCount || totalPageCount == 0}? 'page-item disabled':'page-item'">
                    <a class="page-link" th:href="@{|${baseUrl}${totalPageCount-1}|}">Last</a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<script type="text/javascript">
    $(document).ready(function () {

        $('.eBtn,.aBtn').click(function (e) {
            e.preventDefault();
            var href = $(this).attr('href');
            var text = $(this).text();
            if (text == '') {
                $.get(href, function (employee, status) {
                    $('#number').val(employee.employeeNumber);
                    $('#name').val(employee.employeeName);
                    $('#birth').val(employee.birth);
                    $('#gender').val(employee.gender);
                    $('#address').val(employee.address);
                    $('#email').val(employee.email);
                    $('#phone').val(employee.phoneNumber);
                    $('#salary').val(employee.salary);
                    $('#manager').val(employee.managerNumber);
                    $('#id').val(employee.employeeId);
                });
                $('#updateData').modal();
            } else {
                $('#number').val('');
                $('#name').val('');
                $('#birth').val('');
                $('#gender').val('');
                $('#address').val('');
                $('#email').val('');
                $('#phone').val('');
                $('#salary').val('');
                $('#manager').val('');
                $('#id').val('-1');
                $('#updateData').modal();
            }
        });

        $('input').click(function () {
            this.select();
        });

        $('section').click(function () {
            this.select();
        })

    });
</script>
</body>
</html>