<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_admin">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div layout:fragment="content_admin" class="container body-content">
  <h1>Create Food Item</h1>

  <form th:action="@{~/admin/food_items/create}" method="post" enctype="multipart/form-data" th:object="${food}">
    <div>
      <label for="foodName">Food Name:</label>
      <input type="text" id="foodName" name="foodName" required th:field="*{foodName}" />
      <span th:if="${#fields.hasErrors('foodName')}" th:errors="*{foodName}"></span>
    </div>

    <div>
      <label for="foodPrice">Food Price:</label>
      <input type="text" id="foodPrice" name="foodPrice" required th:field="*{foodPrice}" />
      <span th:if="${#fields.hasErrors('foodPrice')}" th:errors="*{foodPrice}"></span>
    </div>

    <div>
      <label for="imageProduct">Food Image:</label>
      <input type="file" id="imageProduct" name="imageProduct" required />
    </div>

    <button type="submit">Create</button>
  </form>
</div>
</body>
</html>