<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_user">
<head>
    <meta charset="UTF-8">
    <title>Phiếu đặt phòng</title>

</head>
<body>
<div layout:fragment="content_user" class="body-content">
  <form th:action="@{/user/bookroom}" th:object="${rental}" class="form" method="post">
      <h2>Phiếu đặt phòng</h2>

      <br><br>


      <div>
          <tr th:each="room : ${room}"  >
              <div class="form-group">
                  <label for="roomNumber">Số phòng:</label>
                  <select class="form-control" id="roomNumber" name="roomNumber"
                          th:field="*{roomNumber}">
                      <option th:each="room : ${room}"
                              th:value="${room.roomNumber}"
                              th:text="${room.roomNumber}">
                      </option>
                  </select>
              </div>

            <div>
                <label>Giá phòng: </label>
                <td th:text="${room.price}"> <th scope="col">VND/ngày</th></td>

            </div>
      </div>

    <div class="form-group">
      <label for="checkInDate">Check-in date</label>
      <input type="datetime-local" th:field="*{checkInDate}" class="form-control" id="checkInDate"
             placeholder="Date">
        <div class="alert alert-warning text-danger mt-2" th:if="${#fields.hasErrors('checkInDate')}"
             th:errors="*{checkInDate}">
        </div>
    </div>
    <div class="form-group">
      <label for="checkOutDate">Check-out date</label>
      <input type="datetime-local" th:field="*{checkOutDate}" class="form-control" id="checkOutDate"
             placeholder="Date">
        <div class="alert alert-warning text-danger mt-2" th:if="${#fields.hasErrors('checkOutDate')}"
             th:errors="*{checkOutDate}">
        </div>
    </div>
    <div class="form-group">
      <label for="guestName">Họ tên</label>
      <input type="text" th:field="*{guestName}" class="form-control" id="guestName" placeholder="guestName">
        <div class="alert alert-warning text-danger mt-2" th:if="${#fields.hasErrors('guestName')}"
             th:errors="*{guestName}">
        </div>
    </div>
    <div class="form-group">
      <label for="cccd">CCCD:</label>
      <input type="text" th:field="*{cccd}" class="form-control" id="cccd" placeholder="CCCD">
        <div class="alert alert-warning text-danger mt-2" th:if="${#fields.hasErrors('cccd')}"
             th:errors="*{cccd}">
        </div>
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone:</label>
      <input type="number" th:field="*{phoneNumber}" class="form-control" id="phoneNumber" placeholder="Phone">
    </div>

    <div class="form-group">
      <label for="email">email:</label>
      <input type="text" th:field="*{email}" class="form-control" id="email" placeholder="email">
    </div>

    <div class="form-group">
      <label for="note">Ghi chú:</label>
      <input type="text" th:field="*{note}" class="form-control" id="note" placeholder="">
    </div>

      <br><br>
    <input type="submit"  class="btn btn-success" value="xác nhận">

  </form>
</div>


</body>
</html>