<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_user">
<head>
    <meta charset="UTF-8">
    <title>Xác nhận</title>

</head>
<body>
<div layout:fragment="content_user" class="body-content">
<h1>Đặt phòng thành công, chúng tôi sẽ sớm liên hệ bạn để xác nhận đặt phòng</h1>
<h1>Thời gian làm việc trong giờ hành chính kể cả thứ 7 và chủ nhật</h1>
</div>
</body>
</html>