<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout_user"
      xmlns:custom="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Food</title>

</head>
<body>
<div layout:fragment="content_user" class="body-content">
  <h2>Danh sách đồ ăn</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="food : ${food}" >
      <th scope="row" th:text="${food.foodId}"></th>

      <td>
        <img height="120" width="150" th:src="@{/images_food/} + ${food.foodImage}"/>
      </td>
      <td th:text="${food.foodName}"></td>
      <td th:text="${food.foodPrice}"></td>

    </tr>
    </tbody>
  </table>
</div>

<!-- Bootstrap JS -->

</body>
</html>