<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_body"
      xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="UTF-8">
  <title>Food</title>


</head>
<body>
<div layout:fragment="content_body" class="body-content">
  <h2>Danh sách đồ ăn</h2>

  <table class="table table-striped table-responsive-md">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Image</th>
      <th scope="col">Name</th>
      <!--      <th scope="col">Price</th>-->
      <!--      <th>-->
      <!--        <a th:href="@{'/user/page/' + ${currentPage} + '?sortField=foodId&sortDir=' + ${reverseSortDir}}">-->
      <!--          #</a>-->
      <!--      </th>-->
      <!--      <th>-->
      <!--        <a th:href="@{'/user/page/' + ${currentPage} + '?sortField=foodImage&sortDir=' + ${reverseSortDir}}">-->
      <!--          image</a>-->
      <!--      </th>-->
      <!--      <th>-->
      <!--        <a th:href="@{'/user/page/' + ${currentPage} + '?sortField=foodName&sortDir=' + ${reverseSortDir}}">-->
      <!--          Name</a>-->
      <!--      </th>-->
      <th>
        <a th:href="@{'/user/page/' + ${currentPage} + '?sortField=foodPrice&sortDir=' + ${reverseSortDir}}">
          Price</a>
      </th>
    </tr>
    </thead>

    <tbody>
    <tr th:each="food : ${food}" >
      <td th:text="${food.foodId}"></td>

      <td>
        <img height="120" width="150" th:src="@{/images_food/} + ${food.foodImage}"/>
      </td>
      <td th:text="${food.foodName}"></td>
      <td th:text="${food.foodPrice}"></td>
    </tr>
    </tbody>
  </table>

</div>



</body>
</html>