<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_user"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Giỏ hàng</title>
</head>
<body>
<div layout:fragment="content_user" class="container body-content">
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Dịch vụ</th>
            <th scope="col">Giá</th>
            <th scope="col">Số lượng vé</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="cartItem, itemIndex : ${cartItems}">
                <td th:text="${itemIndex.index + 1}"></td>
                <td th:text="${cartItem.name}"></td>
                <td th:text="${cartItem.price}"></td>
                <td>
                    <form th:action="@{/user/cart/update}" method="post">
                        <input type="hidden" name="id" th:value="${cartItem.id}" />
                        <input type="number" name="quantity" min="1" th:value="${cartItem.quantity}" />
                        <button type="submit">Update</button>
                    </form>
                </td>
                <td th:text="${cartItem.price * cartItem.quantity}"></td>
                <td>
                    <form th:action="@{/user/cart/remove/{id}(id=${cartItem.id})}" method="post">
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>

            </tr>
        </tbody>
    </table>
</div>
</body>
</html>
