<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="layout_user">
<head>
    <meta charset="UTF-8">
    <title>Service</title>

</head>
<body>
<div layout:fragment="content_user" class="container body-content">
  <h2>Danh sách các dịch vụ</h2>

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Dịch vụ</th>
      <th scope="col">Giá</th>
      <th scope="col">Note</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="services : ${services}" >
      <th scope="row" th:text="${services.id}"></th>
      <td th:text="${services.name}"></td>
      <td th:text="${services.price}"></td>
      <td th:text="${services.note}"></td>

    </tr>
    </tbody>
  </table>
</div>


</body>
</html>