<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_admin">
<head>
  <meta charset="UTF-8">
  <title>Edit User</title>
</head>
<body>
<div layout:fragment="content_admin" class="container body-content">
  <h2>Edit User</h2>
  <form method="POST" th:action="@{/admin/users/{userId}/edit(userId=${user.user_id})}">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" th:value="${user.username}" required>
    </div>
    <div>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" th:value="${user.email}" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" th:value="${user.password}" required>
    </div>
    <div>
      <label for="roles">Roles:</label>
      <select id="roles" name="roles" multiple="multiple" required>
        <option th:each="role : ${allRoles}"
                th:value="${role.roleId}"
                th:text="${role.name}"
                th:selected="${user.roles.contains(role)}"></option>
      </select>
    </div>
    <div>
      <button type="submit">Save</button>
      <a th:href="@{/admin/users}">Cancel</a>
    </div>
  </form>
</div>
</body>
</html>
