<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout_admin">
<head>
  <meta charset="UTF-8">
  <title>User Details</title>
</head>
<body>
<div layout:fragment="content_admin" class="container body-content">
  <h2>User Details</h2>
  <table>
    <tr>
      <th>Username</th>
      <td th:text="${user.username}"></td>
    </tr>
    <tr>
      <th>Email</th>
      <td th:text="${user.email}"></td>
    </tr>
    <tr>
      <th>Password</th>
      <td th:text="${user.password}"></td>
    </tr>
    <tr>
      <th>Roles</th>
      <td>
        <ul>
          <li th:each="role : ${user.roles}" th:text="${role.name}"></li>
        </ul>
      </td>
    </tr>
  </table>
  <a th:href="@{/admin/users}">Back to User List</a>
</div>
</body>
</html>
