<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Admin</title>
  <!-- Bootstrap CSS  & FontAwsome-->
  <link href="css/bootstrap.css" rel="stylesheet">
  <link href="font-awesome/css1/all.css" rel="stylesheet">
  <link rel="icon" href="images/adminicon.png" />
  <!-- Our Custom CSS -->
  <link rel="stylesheet" href="css/style4.css">
  <link rel="stylesheet" href="css/card.css">
  <script type="text/javascript" src="font-awesome/js1/fontawesome.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>
<body class="wrapper">
  <!-- Sidebar  -->
  <nav  th:fragment="sidebar" id="sidebar">
    <div class="sidebar-header">
     <a th:href="@{/admin}"> <h3>&nbsp;&nbsp;&nbsp;QLKS-admin</h3></a>
      <strong><i class="fa fa-shopping-cart" aria-hidden="true"></i></strong>
    </div>

    <ul class="list-unstyled components">
      <li><a th:href="@{/admin/room}"> <i class="fas fa-hotel"></i>Quản lý phòng
      </a></li>
      <li><a th:href="@{/admin/service}"> <i class="fas fa-tools"></i> Quản lý dịch vụ
      </a></li>
      <li><a th:href="@{/admin/rental}"><i class="fas fa-shopping-cart"></i> Phiếu đặt phòng
      </a></li>
      <li><a th:href="@{/admin/food_items}"> <i class="fas fa-hamburger"></i> Quản lý đồ ăn
      </a></li>
      <li><a th:href="@{/admin/employees}"> <i class="fas fa-users"></i> Quản lý nhân viên
      </a></li>
      <li><a th:href="@{/admin/users}"><i class="fas fa-user-circle"></i>Account Profile
      </a></li>
      <li><a class="nav-link btn btn-light" th:href="@{/logout}"><i class="fas fa-sign-out-alt"></i></a></li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <nav th:fragment="sidebar" class="navbar navbar-expand-lg navbar-light"
         style="border-bottom: 4px solid #7386D5;">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse"
                class="btn btn-info mr-4">
          <i class="fas fa-align-left"></i>
          <!-- <span>Toggle Sidebar</span> -->
        </button>
        <form class="form-inline frm">
          <input class="form-control mr-sm-2" type="search"
                 placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <button class="btn btn-light d-inline-block d-lg-none ml-auto"
                type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

      </div>
    </nav>
    <div class="line"></div>
    <div class="container" id="app"></div>
      <div layout:fragment="content_admin"  class="container body-content">
      </div>

</div>
  <!-- Bootstrap JS & jQuery -->
  <script src="js/jquery-3.1.1.min.js"></script>
  <script src="js/bootstrap.js"></script>
  <!-- Popper.JS -->
  <script
          src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
          integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
          crossorigin="anonymous"></script>
  <script type="text/javascript" src="api/ajaxFetch.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#sidebarCollapse').on('click', function() {
        $('#sidebar').toggleClass('active');
      });
    });
  </script>
</body>
</html>